/*!
 * Start Bootstrap - Full Width Pics HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: no-repeat center center scroll;
    padding:  0px;
    margin: 0px;
}

.image-bg-fixed-height {
	background: no-repeat center center scroll;
    height: 450px;
    margin: 0px;
}
/*!
.image-bg-fluid-height {
    background: url(../img/Bg-2.jpg) no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url(../img/Bg-2.jpg)  no-repeat center center scroll;
    height: 450px;
}
.image-bg-fluid-height {
    background: url(../img/Bg-3.jpg) no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url(../img/Bg-3.jpg)  no-repeat center center scroll;
    height: 450px;
}
.image-bg-fluid-height {
    background: url(../img/Bg-4.jpg) no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url(../img/Bg-4.jpg)  no-repeat center center scroll;
    height: 450px;
}
.image-bg-fluid-height {
    background: url(../img/Bg-5.jpg) no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
    background: url(../img/Bg-5.jpg)  no-repeat center center scroll;
    height: 450px;
}
*/
.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}